<style>
    table, th, td { border: 1px solid black }
</style>
<h1>Modules</h1><br><br>
<table>
    <tr>
        <!-- Table headings -->
        <th>Module ID</th>
        <th>Name</th>
        <th>Credits</th>
        <th>Update</th>
        <th>Students</th>
    </tr>
    <!-- Create a new row for each module -->
    <% modules.forEach((module)=> { %>
        <tr>
            <td>
                <%= module.mid %>
            </td>
            <td>
                <%= module.name %>
            </td>
            <td>
                <%= module.credits %>
            </td>
            <td><a href="http://localhost:3004/module/edit/<%= module.mid %>">Update</a></td>
            <td><a href="http://localhost:3004/module/students/<%= module.mid %>">List</a></td>
        </tr>
        <% }) %>
</table>

<a href="http://localhost:3004/">Home</a> <br>